body{
    background-color: #575555;
    color: white;
}
a{
    color: rgb(35 35 35);
    text-decoration: none;
}
.contenedor-prpal{
    padding-top: 10rem;
}
.textos{
    width: 100%;
}
.iconos{
    font-size: 2rem;
}
.iconos-lenguajes{
    padding-top: 2rem;
}
.contenedor-datos{
    text-align: center;
}
.center{
    text-align: center;
}
.tamano{
    width: 10%;
    border: 5px solid #272727;
    border-radius: 80px;
}